@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&family=Source+Serif+Pro&display=swap");

// Variables Fonts
$RobotoSlab: "Roboto Slab";
$SourceSerifPro: "Source Serif Pro";
$Poppins: "Poppins";
$fontLink: "Poppins", "Roboto Slab", "Source Serif Pro";

// Variables Colors
$primaryColor100: #ffffff;
$primaryColor200: #f5f5f5;
$primaryColor300: #b6b6b6;
$darkColor900: #000000;
$secondaryColor: #131966;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // height: 100vh;
  overflow: hidden;
  font-family: "Source Serif Pro";
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button,
a {
  background: none;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

// Mobile View

.hero {
  background-color: $primaryColor200;
  height: 91.5px;
  min-height: 91.5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__signature {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 60px;
    height: 60px;
  }

  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $secondaryColor;

    h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    h2 {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
  &__hamburger {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: relative;
    cursor: pointer;
    div {
      background-color: $secondaryColor;
      width: 21px;
      height: 3px;
      border-radius: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &::before,
      &::after {
        content: "";
        background-color: $secondaryColor;
        width: 21px;
        height: 3px;
        border-radius: 8px;
        position: absolute;
      }

      &::before {
        top: 6px;
      }

      &::after {
        bottom: 6px;
      }
    }
  }
}

.navigation {
  background-color: $primaryColor200;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

  width: 260px;
  // height: auto;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
  transform: translateX(270px);
  transition: all 500ms ease-in-out;
  // display: none;

  &__inner {
    // background-color: $primaryColor200;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    overflow-y: scroll;
    scrollbar-width: thin;
  }

  &__header {
    background-color: $primaryColor200;
    height: 180px;
    min-height: 180px;
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em 0em;
    position: sticky;
    top: 0;
    left: 0;

    .close-btn {
      position: absolute;
      top: 10%;
      left: 5%;
      cursor: pointer;

      &:hover {
        color: gray;
      }
    }
  }

  &__logo {
    width: 90px;
    height: 90px;
  }

  &__name {
    // background-color: royalblue;
    color: $secondaryColor;
    border-bottom: 1px solid black;
    padding: 0em 1.5em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    h2 {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
  &__body {
    background-color: lightcoral;
    flex-grow: 2;
    height: auto;
    display: flex;
    flex-direction: column;
    // overflow-y: scroll;
    // scrollbar-width: none;
  }

  &__footer {
    background-color: red;
    // min-height: 50px;
    // max-height: 50px;
    height: 70px;
    max-height: 70px;
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h6 {
      font-size: 10px;
    }
    p {
      font-size: 9px;
    }

    // display: none;
  }
}

.about {
  min-height: 68px;
  &__inner {
    // Needed for the collapsing
    transition: all 500ms ease-in-out;
  }

  &__btn {
    transition: all 500ms ease-in-out;
    padding: 1.5em 1.5em;
    cursor: pointer;
    text-align: center;

    & > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__container {
    background-color: #e6e6e6;
    padding: 0.25em 0.25em;

    // Needed for the collapsing
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    transition: all 400ms ease-in-out;
  }
  &__box {
    a {
      color: $darkColor900;
      font-weight: 300;
      font-size: 14px;
      font-family: $Poppins;
      border-radius: 3px;
      padding: 0.5em 1em;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      height: 100%;

      &:hover {
        background: $primaryColor300;
      }
    }
  }
}

.mgt {
  min-height: 68px;
  &__inner {
    // Needed for the collapsing
    transition: all 500ms ease-in-out;
  }

  &__btn {
    // background-color: #e0e0e0;
    padding: 1.5em 1.5em;
    cursor: pointer;

    & > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
  &__group {
    // Needed for the collapsing
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    transition: all 400ms ease-in-out;
  }
  &__header {
    display: none;
  }
  &__container {
    // NONE Mobile
    // display: none;
    background-color: #e6e6e6;
    padding: 0.25em 0.25em;
    // border-radius: 3px;
  }
  &__box {
    h3 {
      margin: 0px 10px 15px 12px;
      font-size: 1.5rem;
    }
    a {
      color: $darkColor900;
      font-weight: 300;
      font-size: 14px;
      font-family: $Poppins;
      border-radius: 3px;
      padding: 0.5em 1em;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      height: 100%;

      &:hover {
        background: $primaryColor300;
      }
    }
  }
}

.service {
  min-height: 68px;
  &__inner {
    // Needed for the collapsing
    transition: all 500ms ease-in-out;
  }
  &__btn {
    // background-color: #e0e0e0;
    padding: 1.5em 1.5em;
    cursor: pointer;
    & > span {
      // background-color: greenyellow;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
  &__container {
    background-color: #e6e6e6;
    padding: 0.25em 0.25em;

    // Needed for the collapsing
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    transition: all 400ms ease-in-out;
  }
  &__box {
    a {
      color: $darkColor900;
      font-weight: 300;
      font-size: 14px;
      font-family: $Poppins;
      border-radius: 3px;
      padding: 0.5em 1em;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      height: 100%;

      &:hover {
        background: $primaryColor300;
      }
    }
  }
}
// End Mobile View
// Classes for the JS
.collapse {
  display: block;
}
.collapse-transition {
  position: static;
  opacity: 1;
  pointer-events: all;
}

.side-slide {
  transform: translate(0px);
}
// End Classes for the JS

// Tablet View

@media (min-width: 481px) and (max-width: 980px) {
  .hero {
    height: 98.5px;
    min-height: 98.5px;
    &__logo {
      width: 75px;
      height: 75px;
    }

    &__name {
      h1 {
        font-size: 1.8rem;
        font-weight: 500;
      }

      h2 {
        font-size: 0.9rem;
        font-weight: 400;
      }
    }
  }
}
// End Tablet View

// Desktop View

@media (min-width: 981px) {
  .hero {
    // background-color: green;
    height: 112px;
    min-height: 112px;

    &__logo {
      width: 90px;
      height: 90px;
    }

    &__name {
      h1 {
        font-size: 2rem;
        font-weight: 500;
      }

      h2 {
        font-size: 1rem;
        font-weight: 400;
      }
    }
    &__hamburger {
      display: none;
    }

    &__signature {
      width: 300px;
      justify-content: space-evenly;
    }
  }

  .navigation {
    // background-color: tomato;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: none;
    transform: none;
    position: static;

    &__inner {
      height: 90%;
      width: 100%;
      overflow: hidden;
      scrollbar-width: none;
    }

    &__header {
      display: none;
    }

    &__body {
      height: 100%;
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-evenly;
    }
    &__footer {
      display: none;
    }
  }

  .about {
    height: 68px;
    min-height: 68px;
    &__inner {
      padding: 24px 0 0 0;
    }
    &__btn {
      background-color: transparent;
      padding: 0.75em 1.5em;
      & > span {
        margin-left: 10px;
      }
    }
    &__container {
      // NONE
      width: 260px;
      // display: none;
      position: absolute;
      border-radius: 3px;
    }
  }

  .mgt {
    height: 68px;
    min-height: 68px;
    &__inner {
      padding: 24px 0 0 0;
    }
    &__btn {
      background-color: transparent;
      padding: 0.75em 1.5em;
      & > span {
        margin-left: 10px;
      }
    }
    /// SOMT
    &__group {
      background-color: #e6e6e6;
      min-width: 100%;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;

      padding: 2em;

      position: absolute;
      left: 0px;
      // top: 17.5vh;
      // NONE
      // display: none;
    }

    &__header {
      display: block;
      padding: 1em 1em;
      h3 {
        font-size: 2rem;
      }
    }

    &__body {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      padding: 2em 0;
    }

    &__container {
      padding: 0.25em 0.25em;
      border-radius: 3px;
    }
  }

  .service {
    height: 68px;
    min-height: 68px;
    &__inner {
      padding: 24px 0 0 0;
    }
    &__btn {
      background-color: transparent;
      padding: 0.75em 1.5em;
      & > span {
        display: flex;
        justify-content: space-between;
        width: 120px;
      }
    }

    &__container {
      // NONE
      width: 260px;
      // display: none;
      position: absolute;
      border-radius: 3px;
    }
  }
}
// End Desktop View

.dropdown {
  // display: block;
  transform: translateY(3px);
  opacity: 1;
  pointer-events: all;
}
