@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&family=Source+Serif+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Source Serif Pro";
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button,
a {
  background: none;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.hero {
  background-color: #f5f5f5;
  height: 91.5px;
  min-height: 91.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__inner {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero__signature {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__logo {
  width: 60px;
  height: 60px;
}

.hero__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #131966;
}

.hero__name h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.hero__name h2 {
  font-size: 0.8rem;
  font-weight: 400;
}

.hero__hamburger {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
}

.hero__hamburger div {
  background-color: #131966;
  width: 21px;
  height: 3px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__hamburger div::before, .hero__hamburger div::after {
  content: "";
  background-color: #131966;
  width: 21px;
  height: 3px;
  border-radius: 8px;
  position: absolute;
}

.hero__hamburger div::before {
  top: 6px;
}

.hero__hamburger div::after {
  bottom: 6px;
}

.navigation {
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  width: 260px;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
  -webkit-transform: translateX(270px);
          transform: translateX(270px);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.navigation__inner {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.navigation__header {
  background-color: #f5f5f5;
  height: 180px;
  min-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5em 0em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.navigation__header .close-btn {
  position: absolute;
  top: 10%;
  left: 5%;
  cursor: pointer;
}

.navigation__header .close-btn:hover {
  color: gray;
}

.navigation__logo {
  width: 90px;
  height: 90px;
}

.navigation__name {
  color: #131966;
  border-bottom: 1px solid black;
  padding: 0em 1.5em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__name h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.navigation__name h2 {
  font-size: 0.8rem;
  font-weight: 400;
}

.navigation__body {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation__footer {
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__footer h6 {
  font-size: 10px;
}

.navigation__footer p {
  font-size: 9px;
}

.about {
  min-height: 68px;
}

.about__inner {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.about__btn {
  padding: 1.5em 1.5em;
  cursor: pointer;
  text-align: center;
}

.about__btn > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.about__container {
  background-color: #e6e6e6;
  padding: 0.25em 0.25em;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.about__box a {
  color: #000000;
  font-weight: 300;
  font-size: 14px;
  font-family: "Poppins";
  border-radius: 3px;
  padding: 0.5em 1em;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.about__box a:hover {
  background: #b6b6b6;
}

.mgt {
  min-height: 68px;
}

.mgt__inner {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.mgt__btn {
  padding: 1.5em 1.5em;
  cursor: pointer;
}

.mgt__btn > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.mgt__group {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.mgt__header {
  display: none;
}

.mgt__container {
  background-color: #e6e6e6;
  padding: 0.25em 0.25em;
}

.mgt__box h3 {
  margin: 0px 10px 15px 12px;
  font-size: 1.5rem;
}

.mgt__box a {
  color: #000000;
  font-weight: 300;
  font-size: 14px;
  font-family: "Poppins";
  border-radius: 3px;
  padding: 0.5em 1em;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.mgt__box a:hover {
  background: #b6b6b6;
}

.service {
  min-height: 68px;
}

.service__inner {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.service__btn {
  padding: 1.5em 1.5em;
  cursor: pointer;
}

.service__btn > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.service__container {
  background-color: #e6e6e6;
  padding: 0.25em 0.25em;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.service__box a {
  color: #000000;
  font-weight: 300;
  font-size: 14px;
  font-family: "Poppins";
  border-radius: 3px;
  padding: 0.5em 1em;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.service__box a:hover {
  background: #b6b6b6;
}

.collapse {
  display: block;
}

.collapse-transition {
  position: static;
  opacity: 1;
  pointer-events: all;
}

.side-slide {
  -webkit-transform: translate(0px);
          transform: translate(0px);
}

@media (min-width: 481px) and (max-width: 980px) {
  .hero {
    height: 98.5px;
    min-height: 98.5px;
  }
  .hero__logo {
    width: 75px;
    height: 75px;
  }
  .hero__name h1 {
    font-size: 1.8rem;
    font-weight: 500;
  }
  .hero__name h2 {
    font-size: 0.9rem;
    font-weight: 400;
  }
}

@media (min-width: 981px) {
  .hero {
    height: 112px;
    min-height: 112px;
  }
  .hero__logo {
    width: 90px;
    height: 90px;
  }
  .hero__name h1 {
    font-size: 2rem;
    font-weight: 500;
  }
  .hero__name h2 {
    font-size: 1rem;
    font-weight: 400;
  }
  .hero__hamburger {
    display: none;
  }
  .hero__signature {
    width: 300px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navigation {
    height: 100%;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
            transform: none;
    position: static;
  }
  .navigation__inner {
    height: 90%;
    width: 100%;
    scrollbar-width: none;
  }
  .navigation__header {
    display: none;
  }
  .navigation__body {
    height: 100%;
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navigation__footer {
    display: none;
  }
  .about {
    height: 68px;
    min-height: 68px;
  }
  .about__inner {
    padding: 24px 0 0 0;
  }
  .about__btn {
    background-color: transparent;
    padding: 0.75em 1.5em;
  }
  .about__btn > span {
    margin-left: 10px;
  }
  .about__container {
    width: 260px;
    position: absolute;
    border-radius: 3px;
  }
  .mgt {
    height: 68px;
    min-height: 68px;
  }
  .mgt__inner {
    padding: 24px 0 0 0;
  }
  .mgt__btn {
    background-color: transparent;
    padding: 0.75em 1.5em;
  }
  .mgt__btn > span {
    margin-left: 10px;
  }
  .mgt__group {
    background-color: #e6e6e6;
    min-width: 100%;
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 2em;
    position: absolute;
    left: 0px;
  }
  .mgt__header {
    display: block;
    padding: 1em 1em;
  }
  .mgt__header h3 {
    font-size: 2rem;
  }
  .mgt__body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 2em 0;
  }
  .mgt__container {
    padding: 0.25em 0.25em;
    border-radius: 3px;
  }
  .service {
    height: 68px;
    min-height: 68px;
  }
  .service__inner {
    padding: 24px 0 0 0;
  }
  .service__btn {
    background-color: transparent;
    padding: 0.75em 1.5em;
  }
  .service__btn > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 120px;
  }
  .service__container {
    width: 260px;
    position: absolute;
    border-radius: 3px;
  }
}

.dropdown {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  opacity: 1;
  pointer-events: all;
}
/*# sourceMappingURL=style.css.map */